<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss} [%level] %mdc{req.requestURL} %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- don't change levels here, use profiles instead -->
    <logger name="org.springframework" level="${spring.log.level}" />
    <logger name="${package}.service" level="${service.log.level}" />

    <root>
        <level value="${log.level}"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>